<ng-include src="'/templates/navbar.html'"></ng-include>
<div class="container">
  <div class="row " style="padding-top:40px;">
    <h3 class="text-center">{{venue}} </h3>
    <br />
    <br />
    <div class="col-md-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          RECENT CHAT HISTORY
        </div>
        <div scroll-glue class="panel-body" style="overflow-y: auto; height: 540px;">
          <ul class="media-list">

            <li class="media" ng-repeat="message in messages">

              <div class="media-body">

                <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object img-circle" style="height: 50px;" ng-src="{{message.img}}" />
                  </a>
                  <div class="media-body">
                    <p ng-bind-html="message.message | emoji"></p>
                    <br />
                    <small class="text-muted">Posted by <b>{{message.username}}</b>, at {{message.createdAt}}</small>
                    <hr />
                  </div>
                </div>

              </div>
            </li>
          </ul>
        </div>
        <div class="panel-footer">
          <form ng-submit="createMSG(message)">
            <div class="input-group">

              <input type="text" class="form-control" ng-model="message" placeholder="Enter Message" />
              <span class="input-group-btn">
                  <span style="margin: 0 20px;" emoji-picker="message" placement="right" title="Emoji" recent-limit="12"></span>
                                      <button class="btn btn-custom" type="submit">SEND</button>
                                  </span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          ONLINE USERS
        </div>
        <div class="panel-body">
          <ul class="media-list">

            <li class="media" ng-repeat="user in users">

              <div class="media-body">

                <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object img-circle" style="max-height:40px;" ng-src="{{user.img}}" />
                  </a>
                  <div class="media-body">
                    <h5>{{user.username}} | User </h5>

                    <small class="text-muted" style="color: green;"><b>Online</b></small>
                  </div>
                </div>

              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
