<ng-include src="'/templates/navbar.html'"></ng-include>

<div class="form-profile" ng-controller="EditProfileController">
    <h2 align="center">Edit Profile</h2>
    <form class="form-signin" name="regForm" enctype="multipart/form-data">
        <label>Gravatar Email: (optional)</label>
        <br />
        <br />
        <label>Upload Profile Picture With Gravatar</label>
        <br />
        <input type="email" name="gravEmail" class="form-control" ng-model="user.gravEmail"></input>
        <br />
        <br />
        <label>Upload your product picture here:</label>
        <br />
        <br /> Single Image with validations
        <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}">Select</div>
        <br />
        <br />
        <label>First Name</label>
        <input type="text" name="nameFirst" class="form-control" ng-model="user.nameFirst">
        <br />
        <label>Last Name</label>
        <input type="text" name="nameLast" class="form-control" ng-model="user.nameLast">
        <br />
        <label>Description</label>
        <textarea name="desc" class="form-control" ng-model="user.desc"></textarea>
        <br />
        <button type="button" ng-disabled="!user.nameFirst || !user.nameLast || !user.desc" ng-click="submit()" class="btn btn-lg btn-custom btn-block">Update Profile</button>
    </form>
</div>
