*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#leftColumn {
  margin-bottom: .5em;
  background-color: black;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}

.username-text {
  margin-left: 5px;
}

.mod {
  height: 31px;
}

.streamer {
  height: 26px;
}

.sub {
  height: 17px;
}

.twitch-emoji {
  height: 33px;
  width: 28px;
}

.inverse-dropdown {
  background-color: #222;
  border-color: #080808;
  &>li>a {
    color: #999;
    &:hover {
      color: #fff;
      background-color: #000;
    }
  }
}

.navContainer {
  width: 100%;
}

#loginPage, footer, header {
  position: relative;
}

#leftColumn, #rightColum, footer {
  padding: 1.25em;
}

nav {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.navbar {
  margin-bottom: 0;
}

.streamWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.streamWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-color: black;
}

.chatBox {
  position: absolute;
  top: 0;
  bottom: 114px;
  height: 55.75em;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #222;
  height: 80VH;
}

.message {
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 8px;
}

.message:nth-child(odd) {
  background-color: rgb(35, 35, 35);
}

.message:nth-child(even) {
  background-color: #282828;
}

.message-body {
  padding-left: 8px;
  display: block;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.chat-username {
  color: rgb(170, 100, 234);
  font-weight: 700;
}

.chat-username span {
  margin-left: 5px;
}

.msgInput {
  background-color: rgb(20, 20, 20);
  color: #D3D3D3 !important;
  height: 46px !important;
  width: 15%;
  margin-left: 10px;
}

.chatText {
  word-wrap: break-word;
  width: auto;
  padding-top: 19px;
  color: white;
}

.chatFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 14.5VH;
  background-color: #222;
}

#scrollToBottom {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.toLoginWrap {
  margin-top: 15px;
  margin-bottom: 40px;
  position: relative;
  display: flex;
  margin-right: 15px;
}

.chatBtn {
  right: 0;
  background: #6441a4;
  color: white;
  display: inline-block;
  position: relative;
  margin: 0;
  font-weight: 400;
  line-height: 2rem;
  white-space: nowrap;
  cursor: pointer;
  float: right;
  margin-top: 10px;
  align-items: flex-start;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

.toChat {
  margin-right: 15px;
  margin-left: 20px;
  margin-top: 15px;
}

.loginBtn, .loginBtn-chat {
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  margin-top: 9px;
  background: rgb(170, 100, 234);
}

.btn-txt {
  color: white;
}

.loginBtn--google:before {
    border-right: black 1px solid;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png) 6px 6px no-repeat;
}

.loginBtn:before, .loginBtn-chat:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}


.donateBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}


.donateBtn {
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 15px 0 15px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  margin-top: 9px;
  background: rgb(170, 100, 234);
}

.donateBtn:before   {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

.donateBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}


.donateBtn {
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 15px 0 15px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  margin-top: 9px;
  background: rgb(170, 100, 234);
}

.donateBtn:before   {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

/* MEDIA QUERIES */

@media screen and (min-width: 47.5em) {
  #leftColumn {
    margin-right: 24.5em;
  }
  #rightColumn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 24.75em;
  }
}
